:local
  .button
    padding 10px 15px
    background none
    border 1px solid white
    color white
    background-color rgba(0, 0, 0, 0.1)
  
  .button2, .button3
    img 
      width 20px
      height auto
  
  .button2
    padding 10px 15px
    background thumbUp
    color white

  .button3
    padding 10px 15px
    background thumbDown
    color white
