:local
  .base
    background none
    padding 0
    display flex

  .button
    padding 10px 15px
    background none
    border 1px solid white
    color white
    background-color rgba(0, 0, 0, 0.1)
  
  .selected
    border 1px solid #fff

