
:local
  // variant
  .heading2
    font-size 3.75em
    line-height 1.2em
    font-weight font-weight-normal

  .heading4
    font-size 2em
    font-weight font-weight-normal

  .header
    font-size 1em
    font-weight font-weight-light
  
  .mediumCard
    font-size 1.3125em
    font-weight font-weight-light
    line-height 1.15em

  .mediumText
    font-size 2.25em
    font-weight font-weight-light

  .mediumTextBold
    font-size 2.125em
    font-weight font-weight-bold

  .smallTextLight
    font-size 0.875em
    font-weight font-weight-light
  
  .smallText
    font-size 0.875em
  
  .extraSmallText
    font-size 0.75em
    font-weight font-weight-light

  .extraSmallTextBold
    font-size 0.75em
    font-weight font-weight-bold
  
  .noteText
    font-size 0.9375em
    font-weight font-weight-light
    line-height 1.4em

  .bodySmallBold
    font-size 1.25em
    font-weight font-weight-bold 
  
  .bodyBigLight
    font-size 2.5em
    font-weight font-weight-light 
  
  .cardTitle
    font-size 2.8125em
  
  .percentaje
    font-size 1.875em
    font-weight font-weight-light
    z-index 2
  
  // color
  .light
    color light-text-color

  