//colors
primary-bg = #ffffff
note-bg = #ebebeb
light-text-color = #ffffff
primary-text-color = #464646
thumbUp = rgba(28, 187, 180, 0.9)
thumbDown = rgba(255, 173, 29, 0.9)

//fonts
font-size-primary = 16px
line-height-primar = 1.5

font-weight-bold = 700
font-weight-light = 300
font-weight-normal = 400

//spaces
content-sides-space = 10%
menu-items-separation = 4%

//width screens
mobile-width = 768px
mobile-plus-width = 864px
tablet-width = 1024px

