:local
  .closingBlock
    position absolute
    bottom 0
    width 100%
    display flex
  
  .title
    width 30%
    padding 2%
    text-align right
    background rgba(0, 0, 0, 0.15)
  
  .days
    width 70%
    padding 2%
    background rgba(255, 255, 255, 0.65)