:local
  .header
    width 100%
    position absolute
    display flex
    padding 45px content-sides-space
    justify-content space-between
    align-items center
    color light-text-color
    z-index 2
    opacity 0.85
